
@import url("https://fonts.googleapis.com/css2?family=family=DotGothic16&Press+Start+2P&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #d1e4dd;
  color: #28303d;
 
}

.header .logo {
  position: relative;
  font-size: 70px;
  padding: 20px;
  text-shadow: 0px 8px 1px #fff;
  font-family: 'Bebas Neue', cursive;
}

.header {
  position: absolute;
  width: 100%;
  top:0;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .nav {
  position: relative;
  bottom: 80px;
  right: 60px;
  float: right;
  font-size: 25px;
  letter-spacing: 2px;
}

.header .nav .link {
  text-decoration: none;
  color: #28303d;
}

.header .nav .link:hover {
  background: #fff;
  border: 3px solid #28303d;
  padding: 10px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 8px 5px 1px #fff;
          box-shadow: 8px 5px 1px #fff;
}









.main {
  position: relative;
  margin-top: 200px;
  left: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-p {
  position: relative;
  margin-top: 200px;
  left: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .content {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  border: 2px solid #d1e4dd;
}

.main .content .heading {
  padding-bottom: 10px;
  position: relative;
  font-size: 40px;
  text-transform: uppercase;
}

.main .content .info {
  padding-bottom: 15px;
  position: relative;
  font-size: 25px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.main .content .code {
  position: relative;
  font-size: 20px;
  letter-spacing: 2px;
  background: #28303d;
  color: #fff;
  font-family: 'DotGothic16', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 10px 8px 1px #fff;
          box-shadow: 10px 8px 1px #fff;
  white-space: pre-wrap;
}






.top {
  top: 40px;
}

.center {
  text-align: center;
}






/* port intro */
.main .content .code-link {
  text-decoration: none;
  position: relative;
  font-size: 20px;
  letter-spacing: 2px;
  background: #28303d;
  color: #fff;
  font-family: 'DotGothic16', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 10px 8px 1px #fff;
          box-shadow: 10px 8px 1px #fff;
}

.main .content .code-link:hover {
  background: #fff;
  color: #28303d;
  -webkit-box-shadow: 10px 8px 1px #28303d;
          box-shadow: 10px 8px 1px #28303d;
}

.main .content .code-port {
  position: absolute;
  left: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  background: #28303d;
  color: #fff;
  width: 100%;
  height: 150px;
  font-family: 'DotGothic16', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 10px 8px 1px #fff;
          box-shadow: 10px 8px 1px #fff;
  text-align: start;
  margin-bottom: 10px;
}

.top-more {
  top: 80px;
}

.stripe {
  position:absolute;
  width: 100%;
  height:60px;
  background: #28303d;
  text-align: center;
  bottom: 0;
  color: #d1e4dd;
}
.stripe p{
  position: relative;
  top:18px;
}
.stripe a {
  color: #d1e4dd;
  text-decoration: none;
}
.stripe a {
  text-decoration: none;
  position: absolute;
  left: 10px;
  bottom: 1.5px;
  font-size: 20px;
  letter-spacing: 2px;
  background: #fff;
  color: #28303d;
  font-family: 'DotGothic16', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 10px 8px 1px #28303d;
          box-shadow: 10px 8px 1px #28303d;

}


.stripe a:hover{
  background:  #28303d;
  color:#fff;
  -webkit-box-shadow: 10px 8px 1px #fff;
          box-shadow: 10px 8px 1px #fff;
}


.footer {
  margin-top: 730px;
  font-size: 20px;
  position: absolute;
}

.owl {
  position: absolute;
  width: 200px;
  height: 400px;
  background: #28303c;
  top: 350px;
  left:620px;
  border-radius: 5px 5px 0 300px;
  opacity: 1;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.owl .head {
  -webkit-box-shadow: inset 0 0px 0px 0px #212121;
          box-shadow: inset 0 0px 0px 0px #212121;
  width: 220px;
  height: 215px;
  background: #28303c;
  border-radius: 50%;
  position: relative;
  top: -20px;
  left: -10px;
}

.owl .head .outer-eye-l {
  position: relative;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  top: 65px;
  left: 25px;
}

.owl .head .outer-eye-r {
  position: relative;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  top: -10px;
  right: -120px;
}

.owl .head .outer-eye-l .inner-eye-l {
  width: 60px;
  height: 60px;
  position: relative;
  background: #d1e4dd;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  -webkit-box-shadow: inset -7px 0px 0px 0px #424242;
          box-shadow: inset -7px 0px 0px 0px #424242;
}

.owl .head .outer-eye-r .inner-eye-r {
  width: 60px;
  height: 60px;
  position: relative;
  background: #d1e4dd;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  -webkit-box-shadow: inset -7px 0px 0px 0px #424242;
          box-shadow: inset -7px 0px 0px 0px #424242;
}

.owl .head .nose {
  position: relative;
  width: 30px;
  height: 30px;
  background: #fff;
  top: -30px;
  left: 95px;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  -webkit-box-shadow: inset 15px 0px 0px 0px #b57e0e;
          box-shadow: inset 15px 0px 0px 0px #b57e0e;
}

.owl .body .tail {
  position: relative;
  width: 40px;
  height: 70px;
  background: #28303c;
  border-radius: 0 10px 0 60px;
  left: 50px;
  top: 110px;
  border-bottom: 2px solid #c8b8b8;
}

.owl .body .tail:nth-child(2) {
  position: relative;
  width: 40px;
  height: 70px;
  background: #28303c;
  border-radius: 0 0 0 60px;
  left: 100px;
  top: 70px;
}

.owl .body .tail:nth-child(3) {
  position: relative;
  width: 40px;
  height: 70px;
  background: #28303c;
  border-radius: 0 0 0 30px;
  left: 150px;
  top: 20px;
}
.right{
  left:115px;
}

/*# sourceMappingURL=styles.css.map */

.center-contact{
  left:580px;
}

/*

###############

portfolio css

################*/
.main-p {
  position: relative;
  margin-top: 200px;
  left: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-p {
  position: relative;
  margin-top: 200px;
  left: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-p .content-p {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  border: 2px solid #d1e4dd;
}

.main-p .content-p .heading-p {
  padding-bottom: 10px;
  position: relative;
  font-size: 40px;
  text-transform: uppercase;
}

.main .content-p .info-p {
  padding-bottom: 15px;
  position: relative;
  font-size: 25px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.main .content .code {
  position: relative;
  font-size: 20px;
  letter-spacing: 2px;
  background: #28303d;
  color: #fff;
  font-family: 'DotGothic16', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 10px 8px 1px #fff;
          box-shadow: 10px 8px 1px #fff;
  white-space: pre-wrap;
}
